# Server
PORT=3927
HOST=0.0.0.0

# Auth
JWT_SECRET="5pOMCqwRibiw15WMT12TTaYPktWKIMIiia6ne1pmLzw="
ADMIN_PASSWORD=dang1810

# Data
DATA_DIR=./data

# CORS
CORS_ORIGIN=*

# Filesystem path whitelist (colon-separated)
ALLOWED_PATHS=/home:/var/www:/var/log:/opt:/etc/nginx:/tmp:/srv
